@font-face 
{
	font-family: remote_FreeSans;
	src: url(FreeSans.woff);
}

@font-face 
{
	font-family: remote_FreeSans;
	src: url(FreeSansBold.woff);
	font-weight: bold;
}

@font-face 
{
	font-family: remote_FreeSans;
	src: url(FreeSansBoldOblique.woff);
	font-style: oblique;
	font-weight: bold;
}

@font-face 
{
	font-family: remote_FreeSans;
	src: url(FreeSansOblique.woff);
	font-style: oblique;
}