@import "freesans.css";

body 
{
  background: #050609;
  color: #F7F7FF;
  font-family: FreeSans, remote_FreeSans;
  font-size: 100%;
  margin: 2em;
}

.header
{
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  /* flex properties */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo
{
  height: 100%;
  object-fit: scale-down;
  width: 100%;
}

.phrase
{
  font-size: x-large;
  font-style: italic;
  text-align: right;
} 

.main_cont_window
{
  padding: 0.0125% 5%;
}

.article_title
{
  font-size: 125%;
}

.article_date
{
  font-size: 75%;
  margin-top: 0%;
}

.title_heading
{
  color: #FE9D0B;
  font-size: 1.5em;
}

.footer
{
  display: flex;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 2em;
  position: relative;
  text-align: center;
  /* flex properties */
  align-items: center;
  justify-content: center;
}

a:link
{
  color: #FE9D0B;
  text-decoration: none;
}

a:hover
{
  color: #FEAD34;
}

a:active
{
  color: #F49301;
}

a:visited
{
  color: #df8601;
  text-decoration: none;
}
