<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="This is IvanDSM's webpage. There's some cool stuff here. Come on in!" name="description">
    <meta content="ivandsm,snesivan" name="keywords">
    <meta name="description" content="This is IvanDSM's webpage. There's some cool stuff here. Come on in!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}} - {{page.title}}</title>
    <link rel="icon" href="{{ "/assets/favicon.png" | relative_url }}">
    <link rel="stylesheet" type="text/css"href="{{ "/assets/mainstyle.css" | relative_url }}" >
  </head>
  <body>
    <div class="header">
      <div>
        <img alt="Logo" class="logo" src="{{ "/assets/logo.png" | relative_url }}" >
      </div>
      <p class="phrase">Welcome to my homepage.</p>
    </div>
    <div class="main_cont_window">
      <p class="title_heading">{{page.title | upcase}}</p>
      {{ content }}
    </div>
    <div class="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
      <p><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{page.title}}</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">IvanDSM</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </div>
  </body>
</html>
